##
# config file for startttcpdump.sh
# /root/scripts/starttcpdump.cfg
# V0.2 emcekah@gmail.com 2010, 2013
# '/etc/init.d/tcpdumpd -c /path/to/file' for custom config. 
# Make shure to use a different tcpdump_RINGFILE for each instance.
##
mydescription="daemon wrapper for tcpdump. Logs network packets to rotating file ring while silently running in the background."
myversion="tcpdumpd V0.21"
# Must be in a group with the same name. No 'rooted' group, shell or login required.
myrunuser="tcpdumpd"
# Note: if $myinstallpath is changed, the variable also must be changed in /etc/init.d/tcpdumpd!
myinstallpath="/root/scripts/tcpdumpd/"
#myinstallpath="/usr/local/tcpdumpd/"
mydumpdir="/var/log/tcpdumpd/"
# For logging tcpdumpd's activity. 
#mylogfile="/var/log/tcpdumpd.log"
# location of PID file (absolute path)
tcpdump_PIDFILE=$mydumpdir/tcpdumpd.pid
# location for catured ring files. Must be writeable for tcpdump_USER's group.
tcpdump_DUMPDIR="-w $mydumpdir"
# local user account for dumping. Do not use root or any member of group root!
tcpdump_USER="-Z $myrunuser"
# base name for log files 
tcpdump_RINGFILE=tcpdumpd-
# number of logfiles before overwritimg
tcpdump_FILECOUNT="-W 3"
# int max filesize in millions of bytes 
tcpdump_FILESIZE="-C 1" 
# tcpdump verbosity optipns: -v -vv -vvv
tcpdump_VERBOSITY=" -v -n "
# tcpdump filter, i.e. ' -i eth0 -p udp host 1.2.3.4 "
tcpdump_FILTER=" not host localhost "
# how many seconds before files are rotated., i.e. '-G 300'
tcpdump_LOGTIME= 
# 'tcpdump_RINGFILE' must end with valid strftm 
# if 'tcpdump_LOGTIME' is used.
# 'man tcpdump' for more on time based rotation.
##
# This file is part of tcpdumpd.
# tcpdumpd is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# tcpdumpd is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# You should have received a copy of the GNU General Public License
# along with tcpdumpd.  If not, see <http://www.gnu.org/licenses/>.
